body{
  text-align: center;
  margin: 0 auto;
  z-index: -1;
}

.link_article{
  color: #769293;
  text-decoration: underline;
}

h2{
  margin-top: 4%;
  margin-bottom: 2%;
  text-align: center;
}

h3{
  text-align: left;
  margin: 4% 4% 0 4%;
}

h4{
  text-align: left;
  margin: 4% 4% 0 4%;
  color: #b3535f;
}

.p_artcile{
margin-top: 2%;
}
.div_article {
  padding-top: 8%;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.div_1_article {
  width: 60%;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: center;
}

.div_2_article {
  width: 40%;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: center;
}

.img_copertina_article{
  width: 100%;
  text-align: right;
}

.foto_post_blog{
  margin: 2% auto;
  width: 60%;
}

.firma_article{
  margin: 4% auto 2% auto;
  width: 30%;
}

#firma{
  width: 33%;
  text-align: center;
  margin: 0 auto 8% auto;
}

.article{
  margin: 0 auto 5% auto;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
}

#divisore{
  width: 100%;
  margin: 10% auto 0 auto;
}

div.article{
  width: 90%;
  margin: 0 auto;
}

.date_post{
  font-size: 20px;
  margin: 2% auto;
  text-align: center;
}

@media only screen and (max-width: 900px){

  h2{
    margin-top: 4%;
    text-align: center;
  }
  
  h3{
    text-align: left;
    margin: 8% 4% 0 4%;
  }

  h4{
    text-align: center;
    margin: 8% 4% 0 4%;
    color: #b3535f;
  }
    .date_post{
      font-size: 16px;
      margin: 4% auto;
      text-align: center;
    }

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0 auto;
    text-align: center;
  }

  .div_1_article{
    /* grandezza box blog */
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 5% auto;
    }

  .div_2_article {
    width: 100%;
    display: block;
    text-align: center;
  }

  .div_article {
    padding-top: 16%;
    width: 100%;
    display: block;
    text-align: center;
  }

  .img_copertina_article{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
  }

  #link_blog{
    margin-top: 20%;
  }

  .foto_post_blog{
    margin: 2% auto;
    width: 80%;
  }

}
