

h1{
    margin-left: 10%;
    text-align: left;
}

h2{
  margin: 10% auto 0 auto;
}

h3{
  text-align: left;
  margin: 5% 10% 2% 10%;
}

p{
  margin: 0 10% 2% 10%;
}

  .div_portfolio {
    padding-top: 16%;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
  
  .div_1_portfolio {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
  }
  
  .div_2_portfolio {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
  }
  
  #foto_profilo{
    width: 60%;
    text-align: right;
  }
  
  .gallery_blog{
    /* grandezza box blog */
    width: 40%;
    text-align: center;
    }
  
    #gallery_blog{
      margin: 0 auto 10% auto;
    }
  
    .container_project{
      width: 80%;
      margin: 0 auto;
      border: 8px solid #efeae4;
      border-radius: 12px;
    }
  
    .img_project{
      width: 40%;
      margin: 2%;
      border-radius: 8px;
    }
  
    .container{
      margin: 0 auto;
    }

    .divisore{
      width: 100%;
      margin: 4% auto;
    }


    @media only screen and (max-width: 900px) {

        h1{
            margin: 0 auto;
            text-align: center;
        }

        #foto_profilo{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          width: 50%;
        }
  
        .img_project{
          width: 80%;
          margin: 2% 2% 0 2%;
          border-radius: 8px;
        }
  
        .div_1_portfolio{
          padding-top: 16%;
          width: 100%;
          display: block;
          text-align: center;
          margin: 0 auto;
          }
  
        .div_2_portfolio {
          width: 100%;
          margin: 0 auto;
          display: block;
          text-align: center;
        }
  
        .div_portfolio {
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }


    .container_project{
      width: 80%;
      margin: 0 auto;
      border: 4px solid #efeae4;
      border-radius: 12px;
    }
        }

        #category{
          font-size: 16px;
          text-align: center;
          margin: 5% auto 0 auto;
          color: #769293;
        }
  
        
    
  